@primary: #7666f6;
@error: #FF6240;
@white: #FFFFFF;
@dark: #1E1E1E;

@shade-dark-5: fade(@dark, 5%);
@shade-dark-10: fade(@dark, 10%);
@shade-dark-20: fade(@dark, 20%);
@shade-dark-30: fade(@dark, 30%);
@shade-dark-40: fade(@dark, 40%);
@shade-dark-50: fade(@dark, 50%);
@shade-dark-70: fade(@dark, 70%);
@shade-dark-90: fade(@dark, 90%);
@shade-dark-95: fade(@dark, 95%);


@buttonRadius: 8px;

body {
    background: @shade-dark-10;
}
